.todo-container {
  width: 100%;
  padding: .9rem;
}

.todo-list {
  width: 100%;
  margin-top: calc(var(--form-input-height) + 1rem);
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;
}

.todo-list.failed:empty:after {
  content: 'Нет задач на выполнение';
}

.todo-list.failed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.todo-list.completed {
  position: relative;
  padding: 60px 0 0 0;
}

.todo-list.completed>li {
  color: var(--done);
}

.todo-list.completed:empty:after {
  content: 'Нет выполненых задач';
}

.todo-list.completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 25px;
  left: calc(50% - 75px);
}

.todo-list.completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.todo-list-item__wrapper {
  width: 100%;
  min-height: 50px;
  font-size: clamp(0.9rem, 3vw, 1.3rem);
  font-weight: 500;
  color: var(--notDone);
  line-height: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--headerBg);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: clamp(0.2rem, 2vw, 0.8rem);
  word-break: break-word;
}

.todo-list-item__wrapper>span.text {
  color: #c1a346;
}

.todo-list-item__wrapper:last-child {
  margin: 0;
}

.todo-list-item__buttons {
  max-width: clamp(3.5rem, 9vw, 3.7rem);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: clamp(0.3rem, 1vw, 0.8rem);
}

.todo-list-item__buttons button {
  display: flex;
  align-items: center;
  max-width: clamp(1.2rem, 4vw, 2rem);
  width: 100%;
  max-height: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.todo-list-item__buttons button.btn-trash {
  background-image: url(../../assets/images/trash.svg);
}

.todo-list-item__buttons button.btn-check>svg {
  fill: rgb(15, 155, 45);
  stroke: rgb(15, 155, 45);
  stroke-width: 2;
}





// --------------------


.grad-color {
  color: yellow;
}