.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text:first-child {
  font-size: clamp(2.7rem, 4vw, 4.4rem);
  padding-bottom: clamp(2rem, 5vw, 4rem);
}

.text {
  font-family: cursive;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: normal;
  text-align: center;
}

.accent {
  color: var(--done);
}

.link {
  text-decoration: none;
  color: var(--white);
}